
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    
<style type="text/css">
  body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
  </head>
  


  <body>

    <div class="container"  style="padding:40px 400px;">
      
      <%= form_for(:session, url: sessions_login_path, method: :post, html: {role: 'form'}) do |f| %>
      
        <h2  style="padding:20px 75px;"><%= f.label :email, "Please log in" %></h2>
        <label>Email</label>
        <%= f.email_field :email, class: 'form-control', placeholder:"Email..."%>
        <label>Password</label>
        <%= f.password_field :password, class: 'form-control', placeholder:"Password..." %>
        
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember me
          </label>
        </div>
        
        <%= button_tag(type: "submit", class: "btn btn-primary btn-block") do %> Log in   <span class="glyphicon glyphicon-log-in"></span> <% end %>

        <% end %>
        <br>
       
        </li>
        
        <a class="btn btn-primary btn-block" href="/users/new" role="button">Register</a>

    </div> <!-- /container -->
  </body>
</html>
